name: Maven build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'
          cache: maven
      - name: Clean Maven
        run: mvn clean
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package